* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: 'Rubik', sans-serif;
  height: 100vh;
  min-width: 300px;
  padding-top: 4rem;
  text-align: center;
}

.content-container {
  height: 100%;
  margin: auto;
  width: 40%;
}

/*user input, add button*/
#input {
  border: 1px solid #fff;
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 2rem;
  padding-left: 1rem;
  width: 58%;
}

#add-btn {
  background-color: #5e5eff;
  border: 1px solid #5e5eff;
  border-bottom-right-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  width: 3.5rem;
}

#input,
#add-btn,
.todo-list {
  height: 3.5rem;
}

#add-plus {
  font-size: 14px;
  left: -0.06rem;
}

#add-btn,
#add-plus,
.todo-text {
  position: relative;
}

/*todo list*/
.todo-container,
.completed-container {
  margin: auto;
  padding-bottom: 1.2rem;
  width: 67.5%;
}

.todos-list {
  padding: 0;
}

.todo-list {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  list-style-type: none;
  padding-top: 1rem;
  width: 100%;
}

.todo-list:first-of-type {
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}

.todo-list:last-of-type {
  border-bottom: none;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}

.todo-text {
  cursor: pointer;
  float: left;
  font-size: 0.8rem;
  top: 0.26rem;
}

/*delete, strike*/
.delete-todo {
  background-color: #f00;
  border: 1px solid #f00;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-right: 1.3rem;
  padding: 0.03rem 0.29rem;
}

input[type=checkbox] {
  float: left;
  margin: 0 0.7rem 0 1.3rem;
  position: relative;
  top: 0.3rem;
  transform: scale(1.1);
}

.strike {
  text-decoration: line-through;
}

/*completed*/
.completed-container {
  border-top: 1px solid #fff;
}

.completed-label {
  color: #fff;
  float: left;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding-left: 1rem;
}

.completed-ul {
  clear: both;
  padding: 0;
}

/*footer*/
.author {
  bottom: 0;
  color: #fff;
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 0.06rem;
  padding-right: 0.8rem;
  position: fixed;
  right: 0;
}